# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SEP3Tier2Server.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sjunn\RiderProjects\SEP3Tier2Server\.idea\.idea.SEP3Tier2Server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
